@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One&family=Merriweather&family=Merriweather+Sans:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    height: -webkit-fill-available;
}

body{
    height: 100%;
    width: 100%;
    background-color: #EAEAF1;
    padding-top: 100px;
    background-image: url('./Images/ImageHeroSectionCopy.png' );
    background-repeat: no-repeat;
    background-position: 55vw 0;
    background-size: 78vh 42vw;
    overflow-x: hidden;
    height: -webkit-fill-available;
}

/* Dekstop Menu */
header{
    width: 100%;
    position: relative;
    position: fixed;
    top: 0;
    z-index: 100;
    overflow-x: hidden;
}
header.sticky {
    padding: 5px;
    background-color: #6E64CD;
    top: 0;
}
header.sticky li a {
    color: #EDEADE;
    width: 100%;
    font-size: 1.2vw;
}
header.sticky li a:hover{
    color: #171717;
}


nav, .nav-links{
    display: flex;
}

nav{
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 4vw;
    background-color: rgba(0, 0, 0, 0.1);
    overflow-y: hidden;
}

.nav-links{
    gap: 4rem;
    list-style: none;
    font-size: 1.5rem;
}

a{
    color: #222222;
    text-decoration: none;
    text-decoration-color: white;
    font-size: 1.2vw;
    font-family: 'Merriweather', serif;
}

a:hover{
    color: #6f6df4;
    border-bottom: 5px solid #352E7B;
    padding: 0 0 6px;
}

.nav-part1 {
    display: flex;
    gap: 0.5vw;
    align-items: center;
}

.nav-part1 h2 {
    font-size: 1.9vw;
    font-family: 'Chau Philomene One', sans-serif;
    color: #352E7B;
    font-weight: 500;
}

.Logo {
    height: 14vh;
    width: 10vw;
}

.logo:hover{
    cursor: default;
}

/* HAMBURGER-MENU  */
#hamburger-nav{
    display: none;
}
.hamburger-menu{
    position: relative;
    display: inline-block;
}
.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}
.hamburger-icon span{
    width: 90%;
    height: 2px;
    background-color: #352E7B;
    transition: all 0.3 ease-in-out;

}
.menu-links {
    /* position: absolute; */
    /* top: 100%; */
    position: fixed;
    right: 0%;
    background-color: #6E64CD;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}
.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: #EAEAF1;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}
.menu-links li{
    list-style: none;
}
.menu-links.open{
    max-height: 400px;
    width: 200px;
    padding: 3vw;
}
.hamburger-icon.open span:first-child{
    transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.open span:nth-child(2){
    opacity: 0;
}
.hamburger-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child{
    transform: none;
} 

.hamburger-icon span:first-child{
    opacity: 1;
} 

.hamburger-icon span:first-child{
    transform: none;
} 
 

/* Hero Section  */
.Hero-Content {
    height: calc(100% - 100px);
    width: 100%;
    display: flex;
    position: relative;
}
.left {
    height: 100%;
    width: 55%;
    padding: 3vw 5vw;
}

.left h1 {
    font-size: 3.5vw;
    line-height: 4.4vw;
    font-family: 'Merriweather Sans', sans-serif;
    color: #171717;
}

.left p {
    font-size: 2vw;
    font-family: 'Merriweather', serif;
    color: #222222;
    width: 90%;
    margin-top: 1.5vw;
    margin-bottom: 2vw;
}
.left span {
    font-size: 3.5vw;
    font-family: 'Chau Philomene One', sans-serif;
    color: #352E7B;
}

.Hero-Button {
    font-size: 1.5vw;
    padding: 1vw 2vw;
    background-color: #352E7B;
    color: #EAEAF1;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    transition-property: box-shadow, transform;
    -webkit-transition-property: box-shadow, transform;
    margin-top: 15vh;
}
.Hero-Button:hover,
.Hero-Button:focus,
.Hero-Button:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    scale: (1.1);
    -webkit-scale: (1.1);
}

/* About content  */
#About {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    margin-top: 8vh;
}

.About-Content {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    margin-top: 3vw;
}

.About-left {
    height: 110%;
    width: 50%;
    background-color: #352E7B;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.About-left .img1 {
    height: 63vh;
    width: 16vw;
    margin-top: 13.2vw;
}

.About-left .img2 {
    height: 92vh;
    width: 27vw;
    margin-top: 8vw;
    margin-right: 2vw;
}

.About-right {
    height: 110%;
    width: 50%;
    background-color: #352E7B;
    padding: 3vw;
}

.About-right h2 {
    margin-top: 1vw;
    font-size: 2.5vw;
    color: #EDEADE;
    font-family: 'Merriweather Sans', sans-serif;
}

.About-right p {
    font-size: 1.3vw;
    margin-top: 1.5vw;
    color: #F5F5DC;
    font-family: 'Merriweather', serif;
    font-weight: 500;
}

/* Product Section  */
#Products {
    margin-top: 35vh;
    height: 100%;
    width: 100%;
    position: relative;
}
.Product-heading{
    font-size: 2.3vw;
    font-family: 'Merriweather Sans', sans-serif;
    color: #171717;
}

.Product-para {
    font-size: 1.3vw;
    font-family: 'Merriweather', serif;
    color: #222222;
    margin-top: 0.5vw;
}
.Product-img {
    height: 55vh;
    width: 35vw;
}
.Product-Content-1{
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    /* margin-top: 12vw; */
}

.Product-left{
    height: 100%;
    margin: 0 8vw 0 5vw;
    
}
.Product-right{
    height: 100%;
    margin-right: 5vw;
   
}

.Product-Content-2{
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    margin-top: -10vw;
}
.Product-left-2{
    height: 100%;
    margin-right: 5vw;
}
.Product-right-2{
    height: 100%;
    margin: 0 8vw 0 5vw;
}

.Product-Content-3{
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    margin-top: -11vw;
}
/* Contact section  */
#Contact {
    height: 98vh;
    width: 100%;
    display: flex;
    position: relatives;
    background-image: url('./Images/Contact\ Sub\ Section.png');
    background-repeat: no-repeat;
    background-size: 100% 98vh;
    margin-top: 53vw;
}

.Contact-Content {
    margin-top: 6vw;
    margin-left: 7vw;
}

.contact-left {
    width: 45%;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-column-gap: 2vw;
    color: #F5F5DC;
}

.ContactInfoHeading {
    padding: 2vw;
    font-size: 2vw;
    color: #EDEADE;
    margin-bottom: 0.8vw;
    font-family: 'Merriweather Sans', sans-serif;
}

.contact-info a {
    font-size: 1.1vw;
    color: #EAEAF1;
    padding: 0.5vw;
    font-family: 'Merriweather', serif;
    text-decoration: none;
}

.contact-icon {
    margin-left: 3vw;
    margin-bottom: 1.8vh;
}

.Social-logo img {
    display: inline-block;
    padding: 3vw 1vw;
    margin-left: 2vw;
    height: 23vh;
    width: 20%;
}

/* contact form */
.ContactForm {
    margin-top: 6vw;
    width: 100%;
}

.ContactFormHeading {
    padding: 1.2vw;
    font-size: 2vw;
    font-family: 'Merriweather Sans', sans-serif;
    color: #171717;
    margin-left: 3vw;
}
.formBox{
    position: relative;
    width: 100%;
    padding-left: 2vw;
    margin-left: 3vw;
}
.formBox .row50{
    display: flex;
    gap: 20px;
}
textarea{
    width: 80%;
}
.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 40%;
}
.input-box input{
    font-size: 1.2vw;
    margin-top: 0.5vw;
}
.formBox .row100 .input-box{
    width: 80%;
    font-size: 1.2vw;
    margin-top: 0.5vw;
}
.formBox .row100 .input-box {
    font-size: 1.2vw;
}
label {
    color: #352E7B;
    font-size: 1.2vw;
    margin-top: 1vw;
    font-family: 'Merriweather', serif;
    font-weight: bold;
}
textarea,
input {
    width: 100%;
    font-weight: 400;
    padding: 0.2vw;
    margin-top: 2vh;
    font-size: 1.1vw;
    outline: none;
    resize: none;
    border: none;
    border-bottom: 1px solid #c4cae0;
    box-sizing: border-box;
    background-color: #EAEAF1;
}
textarea {
    resize: none;
}

textarea:focus,
input:focus {
    outline: none;
    border-bottom: 3px solid #6f6df4;
}
.Contact-Button {
    border: none;
    /* margin-left: 3vw; */
    padding-left: 0.5vw;
    width: 12vw;
    height: 7vh;
    background: linear-gradient(130deg,
            #6f6df4,
            #4c46f5);
    color: #EDEADE;
    border-radius: 3px;
    font-size: 1.8vw;
    margin-top: 0.5vw;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    transition-property: box-shadow, transform;
    -webkit-transition-property: box-shadow, transform;
}

.Contact-Button:hover,
.Contact-Button:focus,
.Contact-Button:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    scale: (1.1);
    -webkit-scale: (1.1);
}
/* footer Section */

footer {
    width: 100%;
    margin-top: 7vw;
}

.Logo-Text {
    text-align: center;
    font-family: 'Chau Philomene One', sans-serif;
    font-size: 2.5vw;
    color: #352E7B;
    padding: 2vw;
}

.FooterLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    height: 10vh;
    width: 8vw;
}

.FooterSection ul{
    display: flex;
    text-align: center;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    gap: 12vh;
    padding: 2vw;
    text-decoration: none;
    margin-left: 2vw;
}

.Footerlinks li a {
    font-size: 1.5vw;
    font-family: 'Merriweather', serif;
    text-decoration: none;
    color: #222222;
}

.Footerlinks li a:hover {
    color: #6f6df4;
}

.Copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 1.1vw;
    font-family: 'Merriweather Sans', sans-serif;
}

.Copyright p {
    margin-left: 9vw;
}

.footer-img {
    position: right bottom;
    right: 0;
    bottom: 0;
    margin-top: 9vh;
    height: 12vh;
    width: 10vw;
}

.footer-img1 {
    position: left bottom;
    height: 21vh;
    width: 3vw;
    bottom: 0;
    left: 0;
}

@media screen and (max-width:1400px){
    body{
        background-image: url('./Images/ImageHeroSectionCopy.png' );
        background-position: 58vw 0;
        background-size: 76vh 44vw;
    }
    a{
        font-size: 1.4vw;
    }
    .nav-part1 h2 {
        font-size: 2.3vw;
    }
    header.sticky li a {
        font-size: 1.5vw;
    }
    .Hero-Button {
        font-size: 2vw;
        padding: 1.2vw 1.5vw;
    }
    .About-right p {
        font-size: 1.5vw;
    }
    .Product-heading{
        font-size: 2.4vw;
    }
    .Product-para {
        font-size: 1.5vw;
    }
    #Contact {
        margin-top: 60vw;
    }
    .ContactForm {
        margin-top: 6.8vw;
    }
    label {
        font-size: 1.3vw;
    }
    .input-box input{
        font-size: 1.3vw;
        margin-top: 0.8vw;
    }
    .Contact-Button {
        margin-top: 2vw;
    }

}
@media screen and (max-width:1200px){
    body{
        background-image: url('./Images/ImageHeroSectionCopy.png' );
        background-position: 58vw 0;
        background-size: 74vh 46vw;
    }
   
}

@media screen and (max-width:600px){
    body{
        background-image: url('./Images/Swap\ Hero\ Image.png');
        background-repeat: no-repeat;
        background-position: 10vh 42vw;
        background-size: 98vw 58vh;
        padding-top: none;
        padding-top: 70px;
        overflow-x: hidden;
    }

    #dekstop-nav{
        display: none;
    }
    #hamburger-nav{
        display: flex;
    }

    .nav-links{
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    nav {
        height: 70px;
        background-color: #6E64CD;
        
    } 
    .nav-part1 h2{
        font-size: 3.5vw;
    }
    .menu-links a{
        font-size: 3vw;
    }
    header.sticky li a {
        font-size: 3vw;
    }
    .menu-links a:hover{
        color: #6f6df4;
        text-decoration: underline;
        text-underline-offset: 1rem;
        text-decoration-color: #352E7B;
    }

    /* Hero Section  */
    .left {
        height: 100%;
        width: 100%;
        padding: 3vw 7vw;
        margin-bottom: 2vh;
    }

    .Hero-Content {
        height: calc(100% - 70px);
        margin-top: 10px!important;
    }

    .Hero-Button {
        margin-top: 55vh;
        margin-left: 3.5vw;
        font-size: 3.5vw;
        padding: 2vw 3vw;
    }
    .left h1{
        font-size: 4vw;
    }
    .left p{
        font-size: 2.5vw;
    }

    /* About Section  */
    #About{
        margin-top: -5vh;
    }
    .About-Content {
        display: flex;
        flex-direction: column;
    }

    .About-left {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background: none;
    }

    .About-right {
        height: 100%;
        width: 100%;
        background: none;
        background-color: #352E7B;
        padding: 3vw;
        margin-top: 7vh;
        background-size: 100% 90vh;
        padding: 5vw;
    }

    .About-left .img1 {
        height: 65vh;
        width: 35vw;
        margin-top: 30vw;
    }

    .About-left .img2 {
        height: 70vh;
        width: 40vw;
        margin-top: 2vw;
        margin-right: 5vw;
    }

    .About-right h2 {
        margin-top: 3vw;
        font-size: 5vw;
    }
    .About-right p {
        font-size: 2.5vw;
    }

    /* Product Section */
    #Products{
        margin-top: 105vh;
    }
    .Product-img {
        height: 40vh;
        width: 84vw;
    }
    .Product-Content-1 {
        display: flex;
        flex-direction: column-reverse;
    }
    .Product-left {
        margin-left: 15vh;
    }
    .Product-right {
        margin-left: 8vh;
    }
    .Product-heading{
        font-size: 1.5rem;
    }
    .Product-para{
        font-size: 1rem;
    }
    .heading1{
        margin-left: -5vw;
        /* padding: 0 15vw 0 5vw; */
    }
    .Product-Content-2{
        display: flex;
        flex-direction: column;
    }
    .Product-left-2{
        margin-left: 10vh;
        /* padding: 0 15vw 0 0; */
    }
    .Product-Content-3{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 2.5vw;
    }
    .heading3{
        /* padding: 0 16vw 0 0; */
        margin-left: -5vw;
    }

    /* Contact Section  */
    #Contact{
        margin-top: 160vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-image: none;
    }
    .Contact-Content{
        width: 100%;
        background-color: #352E7B;
        margin-left: 0;
    }
    .ContactInfoHeading {
        font-size: 4vw;
        margin-left: 4.5vw;
        margin-top: 2vh;
    }
    .contact-info a {
        font-size: 2.5vw;
        padding: 2vw;
    }
    .contact-left{
        width:100%;
    }
    .contact-icon {
        margin-left: 5vw;
    }
    .Social-logo img{
        height: 15vh;
        width: 10%;
        margin-left: 15vw;
        margin-top: 3vh;
    }
    .ContactForm{
        width: 100%;
        border-block-start: 40px solid;
        padding-block-start: 10px ;
        border-image-source: linear-gradient(90deg, #7467F6 50%, #352E7B 50%);
        border-image-slice: 1;
        border-block-end: 40px solid;
        padding-block-end: 10px ;
        border-image-source: linear-gradient(90deg, #7467F6 50%, #352E7B 50%);
        border-image-slice: 1;
        border-left:40px solid #7467F6;
        border-right:40px solid #352E7B;
        background-color: #EAEAF1;
    }
    .ContactFormHeading {
        font-size: 4vw;
        margin-left: 4.5vw;
        margin-top: 2vh;
    }
    .formBox{
        margin-left: 4.5vw;
    }
    label{
        font-size: 2.5vw;
    }
    .formBox .row50{
        display: flex;
        gap: 0;
        flex-direction: column;
    }
    .input-box{
        width: 80%;
    }
    .input-box input{
        font-size: 2.5vw;
        margin-top: 2vw;
    }
    .formBox .row100 .input-box{
        font-size: 2.5vw;
        margin-top: 2vw;
    }
    .Contact-Button{
        font-size: 3vw;
        width: 30vw;
        height: 7vh;
        margin-bottom: 5vh;
    }

    /* Footer Section  */
    footer{
        margin-top: 100vh;
    }
    .FooterLogo{
        height: 15vh;
        width: 15vw;
    }
    .Logo-Text{
        font-size: 4.5vw;
    }
    .FooterSection ul{
        display: flex;
        flex-direction: column;
        gap: 5vh;
    }
    .Footerlinks li a {
        font-size: 3vw;
    }
    .Footerlinks li a:hover {
        color: #6f6df4;
    }
    .Copyright{
        font-size: 2vw;
        margin-top: -5vh;
    }
    @media screen and (max-width:430px){
       body{
           background-image: url('./Images/Swap\ Hero\ Image.png');
           background-position: 6vh 46vw;
           background-size: 100vw 38vh;
       }
       .Logo {
            height: 8vh;
            width: 15vw;
        }
       .nav-part1 h2{
            font-size: 4.5vw;
        }
        .left h1{
            margin-right: 10vh;
            font-size: 4.9vw;
        }
        .left span{
            font-size: 4.4vw;
            line-height: 1vw;
        }
        .left p{
            font-size: 3vw;
        }
       .Hero-Button {
            margin-top: 33vh;
            padding: 2vw 3vw;
            margin-left: -0.1vh;
        }
        .About-left .img1 {
            height: 48vh;
            width: 38vw;
            margin-top: 43vw;
        }
        .About-left .img2 {
            height: 55vh;
            width: 42vw;
            margin-top: 6vw;
            margin-right: 2vw;
        }
        .About-right p {
            font-size: 3vw;
        }
        #Products{
            margin-top: 85vh;
        }
        .Product-left {
            margin-left: 11vh;
            margin-top: -2vw;
        }
        .Product-right {
            margin-left: 5vh;
        }
        .Product-Content-2{
            margin-top: -7vw;
        }
        .Product-left-2{
            margin-left: 4.5vh;
            margin-top: -4vw;
        }
        .Product-right-2{
            /* margin-left: 1vw; */
        }
        .Product-Content-3{
            margin-top: 2vw;
        }
        .heading1{
            margin-left: -8vw;
        }
        .heading3{
            margin-left: -8vw;
        }
        #Contact{
            margin-top: 175vh;
        }
        .ContactInfoHeading {
            font-size: 4.5vw;
        }
        .contact-info a {
            font-size: 3.2vw;
        }
        .Social-logo img{
            height: 12vh;
            width: 15%;
            margin-left: 15vw;
            margin-top: 3vh;
        }
        .Contact-Button{
            font-size: 3.5vw;
            width: 25vw;
            height: 5.5vh;
            margin-bottom: 3vh;
        }
        .ContactFormHeading {
            font-size: 4.5vw;
        }
        label{
            font-size: 3vw;
        }
        .input-box input{
            font-size: 3vw;
            margin-top: 2.2vw;
        }
        footer{
            margin-top: 68vh;
        }
        .FooterLogo{
            height: 10vh;
            width: 15vw;
        }
    }
    @media screen and (max-width:370px){
        body{
            background-image: url('./Images/Swap\ Hero\ Image.png');
            background-position: 5vh 56vw;
            height: 100%;
            width: 100%;
            box-sizing: border-box;
        }
        .left h1{
            margin-right: 6vh;
            font-size: 5.2vw;
            line-height: 5.5vw;

        }
        .left span{
            font-size: 4.6vw;
            line-height: 1vw;
        }
        .left p{
            font-size: 3.3vw;
        }
        .Hero-Button {
            margin-top: 34vh;
            padding: 2.5vw 3.5vw;
            margin-left: -0.1vh;
        }
        .About-right p {
            font-size: 3.3vw;
        }
        #Products{
            margin-top: 72vh;
        }
        .Product-left {
            margin-left: 10vh;
            margin-top: -2vw;
        }
        .Product-right {
            margin-left: 5vh;
        }
        .Product-Content-2{
            margin-top: -3vw;
        }
        .Product-left-2{
            margin-left: 4.5vh;
            margin-top: -4vw;
        }
        .Product-right-2{
            /* margin-right: vw; */
        }
        .Product-Content-3{
            margin-top: 12vw;
        }
        .heading1{
            margin-left: -8vw;
        }
        .heading3{
            margin-left: -8vw;
        }
        #Contact{
            margin-top: 185vh;
        }
        .ContactInfoHeading {
            font-size: 4.9vw;
        }
        .contact-info a {
            font-size: 3.5vw;
        }
        .Social-logo img{
            height: 12vh;
            width: 15%;
            margin-left: 15vw;
            margin-top: 3vh;
        }
        .Contact-Button{
            font-size: 3.8vw;
            width: 25vw;
            height: 5.5vh;
            margin-bottom: 3vh;
        }
        .ContactFormHeading {
            font-size: 4.9vw;
        }
        label{
            font-size: 3.3vw;
        }
        .input-box input{
            font-size: 3.3vw;
            margin-top: 2.4vw;
        }
        footer{
            margin-top: 65vh;
        }
        .Logo-Text{
            font-size: 4.8vw;
        }
        .FooterLogo{
            height: 12vh;
            width: 18vw;
        }
        .Footerlinks li a {
            font-size: 3.5vw;
        }
        .Copyright{
            font-size: 2.4vw;
        }

    }

}
